.carrosselTitulo {
    color: var(--laranja);
    background-color: var(--branco);
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700 ;
    padding: 1em 0 0.5em 0;
    background-color: var(--branco);
}

.swiper-slide img {
    width: 100%;
}

.swiper-button-prev, .swiper-button-next {
    display: none;
}

.swiper-pagination {
    position: initial;
    margin: 0.5em 0;
}

.cardDescricao {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5em;
}

.cardBotoes {
    display: flex;
    justify-content: space-between;
}

.botoes {
    display: flex;
}

.card {
    border-radius: 10px;
    background: var(--branco);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin: 1em;
    padding: 1em;
}

.descricaoTitulo {
    color: var(--laranja);
    font-weight: 700;
}

.descricaoTituloLivro {
    font-size: 18px;
    font-weight: 700;
    color: var(--azul);
    margin: 0.5em 0;
}

.descricaoTexto {
    font-size: 14px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.85);
}

.botoesAncora {
    padding: 1em 2.2em;
    background-color: var(--laranja);
    align-items: center;
    text-decoration: none;
    color: var(--branco);
    font-weight: 700;
}

.botoesItem {
    margin: 0 0.5em;
}

.estrelinhas {
    margin-bottom: 0.5em;
}

@media screen and (min-width: 1024px) {
    .carrosselTitulo {
        font-size: 26px;
    }

    .swiper-pagination {
        margin: 2em 0 3em 0;
    }

    .swiper {
        width: 60%;
    }

    .swiper-button-next, .swiper-button-prev {
        display: block;
        top: 60%
    }
    
    .card {
        width: 40%;
        margin: 2em auto;
    }
}

@media screen and (min-width: 1728px) {
    .carrosselContainer {
        display: flex;
        margin: 0 20vw 3em 20vw;
        align-items: center;
    }

    .swiper-pagination {
        margin: 1em 0;
    }

    .swiper {
        width: 50%;
    }

    .descricaoTitulo {
        font-size: 32px;
    }

    .descricaoTexto {
        font-size: 16px;
    }

    .card {
        width: 60%;
        margin-left: 3em;
    }

    .descricao {
        margin-right: 2em;
    }
}