.cabecalhoMenuHamburger {
    width: 24px;
    height: 24px;
    background-image: url(../img/Menu\ \(1\).svg);
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.cabecalho{
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container {
    display: flex;
    align-items: center;
}

.containerImagem{
    padding: 1em;
}

.listaMenu {
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.containerBotao:checked~.listaMenu {
    display: block;

}

.listaMenuTitulo, .listaMenuItem {
    padding: 1em;
    background-color: var(--branco);
}

.listaMenuTitulo {
    color: var(--laranja);
    font-weight: 700;
}

.listaMenuLink {
    background: var(--azul-degrade);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
}

.containerBotao {
    display: none;
}

.containerTitulo {
    display: none;
}

.opcoes {
    display: none;
}

.containerTexto {
    display: none;
}

.containerBotao:checked~.containerRotulo>.cabecalhoMenuHamburger {
    background-image: url('../img/Menu\ Aberto.svg');
}

.containerBotao:checked~.containerRotulo {
    background: var(--azul-degrade);
}

@media screen and (min-width: 1024px){
    
    .containerTitulo, .containerTituloNegrito {
        font-family: var(--fonte-secundaria);
        font-size: 30px;
    }

    .containerTitulo {
        font-weight: 400;
        display: block;
    }

    .containerTituloNegrito {
        font-weight: 700;
        
    }

    .opcoes {
        display: flex;
    }

    .opcoesItem {
        padding: 0 1em;
    }

    .opcoesLink {
        text-decoration: none;
        color: var(--preto);
    }

    .containerImagemTransparente {
        display: none;
    }

    .cabecalhoMenuHamburger {
        display: none;
    }

    .opcoesBotao:checked ~ .listaMenu {
        display: block;
        width: auto;
    }

    .opcoesBotao {
        display: none;
    }

    .opcoesBotao:checked~.opcoesRotulo>.opcoesItem {
        background: var(--azul-degrade);
        color: var(--branco);
    }

    .opcoesItem {
        padding: 2em 1em;
    }

    .listaMenuItem:hover {
        background: var(--azul-degrade);
    }

    .listaMenuItem:hover>.listaMenuLink {
        -webkit-text-fill-color: var(--branco);
        text-decoration: none;
        
    }

}

@media screen and (min-width: 1728px){

    .containerLink {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--preto);
        font-size: 20px;
    }

    .cabecalho {
        padding: 0 2em;
    }

    .opcoes {
        margin-right: auto;
    }

    .containerTexto {
        display: block;
    }
}

